.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #ea5455;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.item{
    margin-right: 1em;
    color: #ffffff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}


.item a{
    color:#efedf3;
    text-decoration: none;
}


.item a:hover{
    color:#ffbb33;
}

.logo{
    width: 120px;
    height: auto;
    border-radius: 25%
}
