@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.musica {
  font-size: 20px;
  color: #000;
  padding: 10px;
}

.cantor {
  font-size: 20px;
  color: #000;
  padding: 10px;
}

.categoria {
  font-size: 20px;
  color: #000;
  padding: 10px;
}

.comentario {
  font-size: 30px;
  color: #000;
  padding: 10px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.avaliacaoId {
  font-size: 20px;
  color: #000;
  padding: 10px;
}

.div1 {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 200px;
  background-color: #fef6f6;
}

.button {
  display: flex;
  gap: 10px;
}
