.footer {
    background-color: #ea5455;
    color: #fff;
    padding:1.5em;
}


.social_list {
    display: flex;
    justify-content: center;
    list-style-type:none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
 color: #ea5455;
}

.social_list svg {
font-size: 1 .5em;
cursor:pointer;
}

.h11 {
    color:hsla(0, 0%, 0%, 0.568);
    height: 100px;
};
   